html{
    background-color: #585b57;
    color: whitesmoke;
    font-size: 22px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    background-color: #9a9a9a;
    color: #504f4f;
}
strong, a{
    color: #89be94;
}